html, body {
    height: 100%;
    margin: 0;
}

#map {
    height: 100%;
    width: 100%;
}

@keyframes firework {
    0% {
        opacity: 1;
        width: 10px;
        height: 10px;
        background-color: red;
    }
    50% {
        width: 20px;
        height: 20px;
        background-color: orange;
    }
    100% {
        opacity: 0;
        width: 30px;
        height: 30px;
        background-color: yellow;
    }
}

.firework-marker {
    border-radius: 50%;
    position: absolute;
    animation: firework 1s ease-out;
}
