body {
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  background-color: #fafafa;
}
h1, h2, h3 {
  font-weight: normal;
}
h1 {
  font-size: 3em;
  margin: 0;
}
h2 {
  font-size: 2.25em;
  line-height: 1.2;
}
h3 {
  font-size: 1.75em;
  line-height: 1.2;
}
p {
  font-size: 19px;
}
video {
  border: 1px solid lightgray;
  width: 600px;
}

/*--------- INDEX/HOME PAGE ----------*/

.page-links {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 10px;
  text-align: center;
  justify-content: center;
}
.page-links__link {
  font-size: 5em;
  padding: 10px 60px;
  text-decoration: none;
  color: inherit;
}

/*--------- SERIES PAGE ----------*/

.header--series {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nav--series {
  position: absolute;
  left: 30px; 
}
.nav__link--series {
  text-decoration: none; 
  color: inherit;
}
.gallery {
  width: auto;
  height: 87vh; 
  margin: 30px 30px 0 30px;
  background-color: black;
  overflow-y: scroll;
  border-radius: 15px;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}
.gallery--white-theme {
  background-color: white;
  border: solid 1px black;
}
.gallery__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  align-content: space-around;
  margin: 25px;
  flex-grow: 1;
}
.gallery__grid--single {
  margin: 0;
}
.gallery__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  flex-grow: 1;
}
.gallery__item--single {
  padding: 0;
}
.gallery__item img {
  border: 1px solid lightgray;
}
.gallery__item--single img {
  max-width: 100%;
  border: none;
}
.post--series {
  width: 95%;
  max-width: 650px;
  text-align: left;
  margin: 0 auto; 
}

/*--------- UNIQUE IMAGES ----------*/
#signal-noise {
  padding: 0px;
}
#signal-noise img {
  border: none;
  max-width: 75%;
}

/*--------- ENLARGE IMAGES ----------*/

.lightbox {
  display: none;
  position: fixed;
  width: calc(100% - 60px);
  height: 87vh; 
  margin: 30px 30px 0 30px;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.lightbox:target {
  display: flex;
}
.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border: 1px solid lightgray;
}
.lightbox__close {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 3em;
  color: lightgray;
  text-decoration: none;
}

/*--------- MOBILE RESPONSIVE ----------*/

@media (max-width: 600px) {
  h1 { 
    font-size: 2em;
    margin: 20px 60px 20px 60px;
    line-height: 1;
  }
  .gallery {
    margin: 10px 10px 0 10px;
    height: 75vh;
  }
  .gallery__grid {
    margin: 5px;
  }
  .gallery__item {
    padding: 10px;
  }
  .gallery__item img {
    max-width: 70px;
  }
  .gallery__item--single img {
    max-width: 100%;
  }
  .nav--gallery {
    left: 5px; 
  }
  .main__link--home {
    font-size: 1.5em;
    padding: 0px 20px;
  }  
  video {
    width: 90%;
  }
  .page-links__link {
    font-size: 2em;
    padding: 0px 20px;
  }
  .nav--series {
    left: 10px;
  }
  .lightbox {
    margin: 10px 10px 0 10px;
    width: calc(100% - 20px);
    height: 75vh;
  }
}
