/* GLOBAL */

html, body {
  font-family: 'EB Garamond', serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3em;
  font-weight: normal;
  line-height: 0.8;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: gray;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.home-btn {
  font-size: 1.5em;
  color: black;
}

/* HOME INDEX PAGE */

.home-container {
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 10px;
  text-align: center;
}
.home-links {
  font-size: 125px;
  text-align: center;
  text-decoration: none;
  padding: 20px 40px;
  color: black;
}
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: 20px;
}
.navbar-item {
  color: rgb(230, 230, 230);
  font-family: Verdana, sans-serif;
}

/* GALLERY PAGE */

.gallery-container {
  display: flex;
}
.gallery-sidebar {
  width: 16%; 
  position: fixed; 
  margin: 10px;
  overflow-y: auto; 
}
.gallery-content {
  padding: 5px;
  overflow-x: hidden;
  margin-left: 18%; 
  overflow-y: auto; 
  background-color: black;
}
.brick {
  padding: 5px;
}
.brick:hover img {
  cursor: pointer;
  filter: brightness(120%);
}

/* GALLERY PAGES MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  margin-left: 18%;
  left: 0;
  top: 0;
  width: 82%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
.modal-content {
  display: block;
  max-width: 90%;
  max-height: 85%;
  margin: 1% auto;
}
.close {
  top: 10px;
  display: grid;
  text-align: center;
  color: white;
  font-size: 2em;
}
.close:hover {
  cursor: pointer;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
  .gallery-container {
    flex-flow: row wrap;
  }
  .gallery-sidebar {
    position: static;
    width: 100%;
    order: 1;
  }
  .gallery-content {
    width: 100%;
    order: 2;
    margin-left: 0; 
  }
  .modal {
    margin-left: 0px;
    width: 100%;
  }
  .modal-content {
    margin-top: 30%;
  }
}