body {
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  background-color: #fafafa;
  font-family: sans-serif;
}
h1, h2, h3 {
  font-weight: normal;
}
h1 {
  font-size: 3em;
  margin: 0;
}
h2 {
  font-size: 2em;
  line-height: 1.2;
}
h3 {
  font-size: 1.5em;
  line-height: 1.2;
}
p {
  /* font-size: 16px; */
  margin-block-end: 1.4em;
}
video {
  border: 1px solid lightgray;
  width: 600px;
}
ol {
  font-size: 19px;
}

/*--------- INDEX/HOME PAGE ----------*/

.page-links {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 10px;
  text-align: center;
  justify-content: center;
}
.page-links-link {
  font-size: 5em;
  padding: 10px 60px;
  text-decoration: none;
  color: inherit;
}
.page-links-link img {
  margin-right: 20px;
  border: 1px solid black;
  max-height: 75px;
}

/*--------- POST PAGE ----------*/

.header--post {
  width: 95%;
  max-width: 650px;
  text-align: left;
  margin: 3em auto 0; 
}
.nav--post {
  position: absolute;
  left: 30px;
  top: 3em; 
}
.nav__link--post {
  text-decoration: none; 
  color: inherit;
  font-size: 2.25em;
  line-height: 1.2;
}
.post-container {
  width: 95%;
  max-width: 650px;
  text-align: left;
  margin: 0 auto; 
}


/*--------- SERIES PAGE ----------*/

.header-series {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nav-series {
  position: absolute;
  left: 30px; 
}
.nav-link-series {
  text-decoration: none; 
  color: inherit;
}

.gallery {
  width: auto;
  height: 87vh; 
  margin: 30px 30px 0 30px;
  background-color: black;
  overflow-y: scroll;
  border-radius: 15px;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}
.gallery--white-theme {
  background-color: white;
  border: solid 1px black;
}
.gallery__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  align-content: space-around;
  margin: 25px;
  flex-grow: 1;
}
.gallery__grid--single {
  margin: 0;
}
.gallery__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  flex-grow: 1;
}
.gallery__item--single {
  padding: 0;
}
.gallery__item img {
  border: 1px solid lightgray;
}
.gallery__item--single img {
  max-width: 100%;
  border: none;
}
.post--series {
  width: 95%;
  max-width: 650px;
  text-align: left;
  margin: 0 auto; 
}
.centered-image {
  text-align: center;
  display: block;
}

/*--------- UNIQUE IMAGES ----------*/
#signal-noise {
  padding: 0px;
}
#signal-noise img {
  border: none;
  max-width: 75%;
}
#everything-nothing {
  padding: 0px;
}
#everything-nothing img {
  border: none;
  max-width: 25%;
}
#pop-pyramids {
  padding: 0px;
}
#pop-pyramids img {
  border: none;
}
#panos--long img {
  width: 100%;
}
#panos--tall img {
  height: 100%;
}

/*--------- ENLARGE IMAGES ----------*/

.lightbox {
  display: none;
  position: fixed;
  width: calc(100% - 60px);
  height: 87vh; 
  margin: 30px 30px 0 30px;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.lightbox:target {
  display: flex;
}
.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border: 1px solid lightgray;
}
.lightbox-close {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 3em;
  color: lightgray;
  text-decoration: none;
}
.lightbox__text {
  position: absolute;
  top: 5px;
  color: white;
  font-size: 16px;
}

/*--------- MOBILE RESPONSIVE ----------*/

@media (max-width: 600px) {
  h1 { 
    font-size: 2em;
    margin: 20px 60px 20px 60px;
    line-height: 1;
  }
  .gallery {
    margin: 10px 10px 0 10px;
    height: 75vh;
  }
  .gallery__grid {
    margin: 5px;
  }
  .gallery__item {
    padding: 10px;
  }
  .gallery__item img {
    max-width: 70px;
  }
  .gallery__item--single img {
    max-width: 100%;
  }
  .nav--gallery {
    left: 5px; 
  }
  .main__link--home {
    font-size: 1.5em;
    padding: 0px 20px;
  }  
  video {
    width: 90%;
  }
  .page-links-link {
    font-size: 1.3em;
    padding: 0px 20px;
  }
  .page-links-link img {
    margin-right: 10px;
    max-height: 20px;
  }
  .nav-series {
    left: 10px;
  }
  .lightbox {
    margin: 10px 10px 0 10px;
    width: calc(100% - 20px);
    height: 75vh;
  }
  #panos--long img {
    max-width: 500px;
  }
  #panos--tall img {
    max-height: 200px;
  }
}
